<form id='login-form' class=''>
  <div class='form-group'>
    <label for='login-name'>Username or email</label>
    <input
      type='text'
      class='form-control'
      id='login-name'
      placeholder='Enter username or email'
    />
  </div>
  <div class='form-group'>
    <label for='login-pass'>Password</label>
    <input
      type='password'
      class='form-control'
      id='login-pass'
      placeholder='Enter password'
    />
  </div>
  <button type='submit' class='btn btn-primary'>Submit</button>
</form>
