<h2 class='h3'>Sign up</h2>
<form id='signup-form' class='d-flex flex-column col-2'>
  <div class='form-group my-2'>
    <label for='signup-name' class='text-muted'>Username</label>
    <input type='text' class='form-control' id='signup-name' required />
  </div>
  <div class='form-group my-2'>
    <label for='signup-pass' class='text-muted'>Password</label>
    <input type='password' class='form-control' id='signup-pass' required />
  </div>
  <div class='form-group my-2'>
    <label for='signup-pass' class='text-muted'>Email</label>
    <input
      type='email'
      class='form-control'
      id='signup-pass'
      placeholder='Optional'
    />
  </div>
  <button type='submit' class='btn btn-secondary my-2'>Sign up</button>
</form>
<a id='login-btn' href='/login'>Already have an account? Sign in!</a>

<script src='../js/signup.js'></script>
