ul {
    padding: 0px;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.post-card,
.post-card * {
    cursor: pointer;
}
